body{
    background-color:rgb(72, 5, 135);
    margin:0 ;
    padding: 0;
}

.logo{
    position: relative;
    display: flex;
    padding-left: 150px;
    width: 205px;
    top: 34px; ;
}
.timeline{
    display:flex;
    flex-direction: row;
    padding: 5px;

}
.box{
    width:70px;
    height:90px;
    background-image: url("timeline@2x.png");
    margin: 5px;
    text-align: center;
    font-family: "Noto Sans Display",sans-serif;
    border-radius: 3px;
}
.box-1{
    position: relative;
    background-color: rgb(255, 255, 255);
    width:500px;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    top: 70px;
    right: 260px;
}
.time{
    color: rgb(72, 5, 135);
    font-size: 1.3em;
    font-family: "Inter",sans-serif;
    padding: 10px;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.ten{
    text-align: center;
    color:rgb(72, 5, 135) ;
    font-size: 2.5em;
}
.hrs{
    text-align: center;
    color: rgb(72, 5, 135);
    font-size:1.5em;
}
#am{
    font-size: 2.5em; 
    color: white;
}
.box1{
    width:70px;
    height:90px;
    background-image: url("AM_svg@2x.png");
    margin:5px;
    text-align: center;
    font-family: "Noto Sans Display",sans-serif;
    border-radius: 6px;
}
.dot{
position: relative;
top: 20px;
margin-right: 10px;
width: 4px;
height: 22px;
opacity: 1;
color: #8A11BF;
font-size: 3rem;
}
.white-bg-time{
    position: absolute;
    top:95px;
    right:50px;
    background-color: #fff;
    height: 49px;
    border-radius: 8px;
    width:80%;
    z-index: -2;
    opacity: 0.22;
}
.purple-bg-time {
    background-color: #fff;
    height: 50px;
    border-radius: 8px;
    width: 92%;
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 75px;
    opacity: 0.71;
}
.box-2{
    position: relative;
    top: 78px;
   left: 124px;
   width: 566px;
   height: 380px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #EDEDED;
border-radius: 10px;
opacity: 1;
}
label{
    color:rgb(72, 5, 135);
    position: absolute;
    top:25px;
    left:70px;
    font-size: 1.2em;
    font-family: "Inter",sans-serif;
   }

ul {
    list-style: none;
  }
  
  ul li {
    padding-bottom: 28px;
    padding-top: 20px;
    position:relative
  }
  
  
  ul li span {
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1.5em;
  }
ul li span:before{
    content:'';
    position:absolute;
    border-left:2px solid;
    left:27px;
    border-radius: 10px;
    top:67px;
    z-index:1;
    height:35%;
    border-left-color: rgb(194, 187, 187);
  }
  ul li:last-child span:before{
    content:none;
   }

select{
    color: rgb(72, 5, 135);
    border: 2px solid rgb(194, 187, 187) ;
    width:250px;
    height:40px;
    border-radius: 5px;
    position: absolute;
    top:20px;
    left:250px;
    font-family: "Inter",sans-serif;
    cursor: pointer;
   }
    option:hover{
    cursor: pointer;
    background-color: #DDF5FF;
   }
   .box3{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 118px;
    border-radius: 10px;
    
    font-family: "Paytone One",sans-serif;
    text-align: center;
    float: right;
    position: relative;
    
    bottom: 220px;
    right: 256px;
   }
   .grab{
    color:blueviolet;
    margin-top: 30px;
    font-size: 1.7em;
}
button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient( to right, blueviolet, #C539B4 );
    color: white;
    font-size: 1.5em;
    top: 78px;
    position: relative;
    left: 124px;
}
.box4{
    position: relative;
    width: 536px;
    float: right;
    height: 341px;
    left: 285px;
    opacity: 1;
    bottom: 90px;
}
.morning{
    border-radius: 10px;
}
.box5{
    position: relative;
    top: 67px;
    background-color: #6e168b;
    border-radius: 10px;
    width: 566px;
    font-family: "Paytone One",sans-serif;
    color: white;
    font-size: 1.2em;
    left: 124px;
    /* opacity: 0.23; */
    height: 77px;
}
button:hover{
    width:250px;
    height:50px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(
        to left,
        blueviolet,
        #C539B4
    );
    color: white;
    font-size: 1.5em;
} 
button:hover{
    cursor: pointer;
}
button:hover span{
    display: none;
}
button:hover:before{
    content:"Party Time!";
}
.btn_t{
   
    border-radius: 10px;
    width:250px;
}
.box6{
    position: relative;
    background-color: #6e168b;
    border-radius: 10px;
    width:230px;
    height:125px;
    color: #C539B4;
    padding:10px;
    font-family: "Inter",sans-serif;
    line-height: 0.7em;
    margin-left: 0px;
    left: 437px;
    top: 30px;
}
